#block_date{
	padding: 0;
	margin:0;
	display: flex;
    justify-content: center;
    align-items: center; 
    padding:20px;

   	animation-duration: 3s;
   	animation-name: lol;


   	transition: all ease 0.8s;
}

@keyframes lol{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@font-face{
	font-family: "rar";
	src:url("https://cors.eu.org/https://fonts-online.ru/sites/default/files/2021-07/coolvetica%20compressed%20rg.ttf");
}

#date{
	position: absolute;
	left: 50%;
	margin-left: -30px;
	color:white;
	font-size: 120px;
	font-family: "rar";
	
}


#sub_opt{

	color:red;
	font-size: 50px;
	margin-top: 50px;
	font-family: "rar";	
	margin-left: 160px;
}